In [24]:
import sqlalchemy
import pandas as pd
import pysftp
import psycopg2

In [4]:
username = 'artinmajdi'
password = '1234'
port = '5000'
ip = 'localhost'
database_name = 'test_db'
dialect_driver = 'postgresql'

server = f'{dialect_driver}://{username}:{password}@{ip}:{port}/{database_name}'

In [14]:
data = pd.read_csv('test.csv', index_col=0)
data.head()

    count
id
0      19
1      20
3      43

In [15]:
engine = sqlalchemy.create_engine(server)
data.to_sql(engine,'classification' ,if_exists='append')